{{> page/nav}}
{{> messages}}
{{> page/titleBanner}}

<div class="list">
    {{#each orders}}
    <div class="side-padding">
        <div class="row list-item text">
            <div class="col-sm-3">
                <p>User: {{email}} </p>
            </div>
            <div class="col-sm-3">
                <p> Purchase: {{product}}</p>
            </div>

            <div class="col-sm-3">
                <p> Bought On: {{date}}</p>
            </div>
            {{#if processed}}
            <div class="col-sm-3">
                <p>Order processed </p>
            </div>
            <p>Order processed</p>
            {{else}}
            <div class="col-sm-3">
                <form action="/add_admin" method="post">
                    <button type="submit" class="btn btn-lg btn-danger" name="orderId" value="{{id}}">Mark as
                        Processed</button>
                </form>
            </div>
            {{/if}}
        </div>
    </div>
    {{/each}}
</div>
{{> page/social-links}}