{{> page/nav user=user}}
{{> messages}}
{{> page/titleBanner}}


{{#each products}}
    <div id='{{id}}'>
      <div class="jumbotron">
        <div class="row">
          <div class="col-sm-4">
            <div class="container-fluid">
                {{#if imagepath}}
              <img src="{{imagepath}}" class="img-responsive" alt="Responsive image"></img>
                {{else}}
              <img src="images/shop/noImage.svg" class="img-responsive" alt="Responsive image"></img>
                {{/if}}
            </div>
          </div>
          <div class="col-sm-8">
            <h1>{{name}}</h1>
            <p>
              {{description}}
            </p>
            <p>                  
              <script>
                var price = {{price}} * 0.01;
                document.write("PRICE: £" + price.toFixed(2));
              </script>
            </p>
            <div>
                <form action="/purchase" method="post">
                    <button type="submit" class="btn btn-lg btn-block btn-danger" name="productId" value="{{id}}">Purchase</button>
                </form>
            </div>            
          </div>
        </div>
      </div>
    </div>
{{/each}}







{{> page/social-links}}